<div class="container-fluid">
  <div class="row">
    <main role="main">
      <div class="projects mb-4">
        <div class="projects-inner">
          <header class="projects-header d-flex align-items-center justify-content-between">
            <div class="buttons d-flex">
              <button (click)="applyFilter2()" class="btn btn-primary mx-2">
                All Events
              </button>
              <button (click)="showFilterDialog()" class="btn btn-primary mx-2">
                Apply Filters
              </button>
            </div>
            <div class="search-bar mx-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search by name, venue, or chief guest"
                [(ngModel)]="searchKeyword"
                (input)="onSearch()"
              />
            </div>
            <div>
              <div class="title">Filtered Events</div>
              <div class="count">| {{ filteredEvents.length }} Events</div>
            </div>
          </header>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Event</th>
                <th>Event Date</th>
                <th>Leader/ Chief Guest</th>
                <th>Ticket Price</th>
                <th class="text-right">Venue</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr
                *ngFor="let event of filteredEvents"
                (click)="showDetail(event.eventId)"
              >
                <td>{{ event.eventName }}</td>
                <td>{{ event.eventDate | date : "dd-MM-yyyy" }}</td>
                <td>{{ event.chiefGuest }}</td>
                <td>₹{{ event.ticketPrice }}</td>
                <td class="text-right">{{ event.eventLocation }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
