<div class="abcd">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="container">
      <h4 class="text-center">Let's Work Together!!</h4>
      
      <p class="sub">Collaboration breeds success. At Eventhub, we believe in the power of teamwork to create unforgettable events. Together, we'll turn ideas into reality and make every moment memorable.</p>
      <div class="alert alert-success" role="alert" *ngIf="showSuccessMessage">
        Event successfully created!
      </div>
      
      <div class="d-flex justify-content-between mt-2 custom-label">
        <div class="col-md-6 col-6">
          <div class="form-group mt-3 col-3">
            <label for="name">Event Name:</label>
            <input type="text" id="name" formControlName="EventName" class="form-control">
          </div>
          <div class="form-group mt-3 col-3">
            <label for="date">Date:</label>
            <input type="date" id="date" formControlName="EventDate" class="form-control">
            <!-- <div *ngIf="eventForm.controls['eventDate'].errors && eventForm.controls['eventDate'].errors['futureDate']" class="custom-alert">
              *Event date should be at least the next date.
          </div> -->
          </div>
          <div class="form-group mt-3 col-3">
            <label for="description">Description:</label>
            <textarea id="description" formControlName="Description" class="form-control2" rows="4"></textarea>
          </div>
          <div class="form-group mt-3 col-3">
            <label for="description">Category:</label>
            <input id="description" formControlName="EventCategory" class="form-control">
          </div>
          
        </div>
        <div class="col-md-6 col-6">
          <div class="form-group mt-3 col-3">
            <label for="location">Location:</label>
            <input type="text" id="location" formControlName="EventLocation" class="form-control">
          </div>
          <div class="form-group mt-3 col-3">
            <label for="description">Time:</label>
            <input type="time" id="description" formControlName="Event_Time" class="form-control">
          </div>
          <div class="form-group mt-3 col-3">
            <label for="description">Ticket Price:</label>
            <input id="description" formControlName="TicketPrice" class="form-control">
          </div>
          <div class="form-group mt-3 col-3">
            <label for="description">Capacity:</label>
            <input id="description" formControlName="Capacity" class="form-control">
          </div>
          <div class="form-group mt-3 col-6">
            <label for="BannerImageFile">Banner Image:</label>
            <input type="file" id="BannerImageFile" formControlName="BannerImageFile" class="form-control">
          </div>
          <div class="form-group mt-3 col-3">
            <label for="description">Chief Guest:</label>
            <input id="description" formControlName="ChiefGuest" class="form-control">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
      <div class="col-md-12 my-4 ">
         <button type="submit" class="btn btn-primary">Create Event</button>
         <!-- <button type="submit" [disabled]="!eventForm.valid" class="btn btn-primary">Create Event</button> -->
      </div>
      </div>
    </div>
  </form>
  </div>
  