    <!-- Header Section Begin -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a>
                    <img src="../../../assets/img/eventhubLogo/Logo Files/For Web/svg/Black logo - no background.svg" alt=""
                    width="200" height="35">
                </a>
            </div>
            <div class="nav-menu">
                <nav class="navbar navbar-expand-lg navbar-light mainmenu">
                    <button class="navbar-toggler toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="aboutus">About</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link">
                            EVENTS
                          </a>
                          <ul class="dropdown">
                            <li><a >Event1</a></li>
                            <li><a >Event2</a></li>
                            <li><a >Event3</a></li>
                            <li><a >Event4</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="contactus">Contact Us</a>
                        </li>
                        <li><button *ngIf="!isLoggedIn" routerLink="/login" class="primary-btn top-btn mx-2 new-btn">Login</button></li>
                            <li><button *ngIf="!isLoggedIn" routerLink="/register" class="primary-btn top-btn new-btn">Register</button></li>
                            <button *ngIf="isLoggedIn" class="primary-btn top-btn" type="button" (click)="logout()">Logout</button>
                      </ul>
                    </div>
                  </nav>
                

            </div>
        </div>
    </header>
    <!-- Header End -->

<!-- <nav class="navbar navbar-expand-lg navbar-white myNav">
    <div class="container">
        <a class="navbar-brand" routerLink="/index.html">
            <img src="../assets/Images/EventHub1.PNG" alt="eventpic" class="d-inline-block align-text-top" width="100px" height="40px"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div *ngIf="!isLoggedIn">
                <form class="d-flex"> 
                    <a routerLink="/login"><button class="btn btn-outline-primary round-button mx-2 btn-style" type="button">Login</button></a>
                    <a routerLink="/register"><button class="btn btn-success round-button btn-style" type="button">Register</button></a>
                </form>
            </div>
            <div *ngIf="isLoggedIn">
                <a routerLink="/login"><button class="btn btn-outline-primary round-button mx-2 btn-style" type="button" (click)="logout()">Logout</button></a>
            </div>
        </div>
    </div>
  </nav> -->