<div class="container-fluid">
  <div class="row">
    <main role="main">
      <div class="card-list mb-4">
        <div class="row alignment">
          <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-4">
            <div class="card blue">
              <div class="title">Events Posted</div>
              <!-- <i class="zmdi zmdi-upload"></i> -->
              <div class="value">{{ totalEvents }}</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-4">
            <div class="card green">
              <div class="title">Tickets Sold</div>
              <i class="zmdi zmdi-upload"></i>
              <div class="value">{{ totalAttendees }}</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-4">
            <div class="card orange">
              <div class="title">Gross Revenue</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">₹{{ totalRevenue }}</div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-3 mb-4">
            <div class="card red">
              <div class="title">Average Rating</div>
              <i class="zmdi zmdi-download"></i>
              <div class="value">{{ getReviewRatio() }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="projects mb-4">
        <div class="projects-inner">
          <header class="projects-header">
            <div class="buttons">
              <button (click)="selectedCategory = 'Upcoming'">
                Upcoming Events
              </button>
              <button (click)="selectedCategory = 'Previous'">
                Previous Events
              </button>
              <button  (click)="selectedCategory = 'All'">All Events</button>
            </div>
            <div class="title ">{{ selectedCategory }} Events</div>
            <div class="count">| {{ filteredEvents.length }} Events</div>
          </header>
          <table class="projects-table">
            <thead>
              <tr>
                <th>Event</th>
                <th>Event Date</th>
                <th>Leader/ Chief Guest</th>
                <th>Total Revenue</th>
                <th>Seats Left</th>
                <th class="text-right">Venue</th>
              </tr>
            </thead>
            <tr
              *ngFor="let event of filteredEvents"
              (click)="viewEvent(event.eventId)"
            >
              <td>
                <p class="text-size">{{ event.eventName }}</p>
                <p class="text-size"></p>
              </td>
              <td>
                <p class="text-size2">{{ event.eventDate | date : "dd-MM-yyyy" }}</p>
              </td>
              <td class="member">
                <!-- <figure> -->
                  <!-- <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/people_8.png"
                  /> -->
                  <!-- <img src="{{ event.bannerImage }}" class="card-img-top" alt="Event Banner" /> -->
                  <!-- <img src="{{ event.bannerImage }}" alt="Banner Image"> -->

                <!-- </figure> -->
                <div class="member-info">
                  <p class="text-size">{{ event.chiefGuest }}</p>
                  <p class="text-size"></p>
                </div>
              </td>
              <td>
                <p class="text-size">₹{{ event.ticketPrice * event.totalTicketsSold }}</p>
                <p class="text-size"></p>
              </td>
              <td class="status">
                <p class="text-size2">{{ event.totalTicketsLeft }}</p>
              </td>
              <td>
                <p class="text-size">{{ event.eventLocation }}</p>
                <p class="text-size"></p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
