<div class="book-event-container">
  <h2>Book Tickets</h2>
  <div class="event-info">
    <h3 class="text-danger">{{ eventDetails.eventName }}</h3>
    <p class="category">{{ eventDetails.eventCategory }}</p>
    <p class="date-time"><strong>Description:</strong> {{ eventDetails.description }}</p>
    <p class="date-time"><strong>Date:</strong> {{ eventDetails.eventDate | date: 'dd-MM-yyyy' }}</p>
    <p class="date-time"><strong>Time:</strong> {{ eventDetails.event_Time }}</p>
    <p class="location"><strong>Location:</strong> {{ eventDetails.eventLocation }}</p>
    <p class="price"><strong>Price:</strong> ₹{{ eventDetails.ticketPrice }}</p>
    <p class="seats-left"><strong>Seats Left:</strong> {{ eventDetails.capacity }}</p>
  </div>
  
  <div class="book-form">
    <form [formGroup]="bookEventForm" (ngSubmit)="onSubmit()">
      <label for="numberOfTickets">Number of Tickets:</label>
      <input
        type="number"
        id="numberOfTickets"
        formControlName="numberOfTickets"
        class="form-control"
        (input)="calculatePrice()"
        min="1"
        max="5"
        required
      />
      <span
        *ngIf="
          bookEventForm.controls['numberOfTickets']?.errors?.['max'] ||
          bookEventForm.controls['numberOfTickets']?.errors?.['min'] &&
          bookEventForm.controls['numberOfTickets']?.touched
        "
        class="text-danger"
      >
        Number of tickets should be at least 1 and less than 6.
      </span>
      <div *ngIf="totalPrice > 0">
        <p>Total Price: ₹{{ totalPrice }}</p>
      </div>
      <button type="submit" class="book-now" [disabled]="validatePayment">Book Now</button>
    </form>
    <p><strong> Note :</strong> Once The Payment is Done, Visit this page again to confirm your booking by clicking on confirm booking button below.</p>
    <p>The Button will be activated once the payment is done. Don't refresh the page before clicking on Confirm Booking Button.</p>
    <div *ngIf="validatePayment">
      <button class="btn btn-primary" (click)="paymentDone()">Confirm Booking</button>
    </div>
  </div>
</div>
