.container {
    max-width: 800px; 
    margin: 0 auto;
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: rgb(215, 248, 27);
  }
  
  .update-profile-btn {
    margin-top: 10px;
  }
  
  .alert {
    margin-top: 20px; 
  }
  