<div class="abc">
  <form [formGroup]="profileForm" (ngSubmit)="confirmChanges()">
    <div class="container">
      <div class="content">
        <h3 class="heading">Welcome to your Profile</h3>
        <hr class="ruler" />
        <img
          src="https://cdn-icons-png.flaticon.com/512/1083/1083062.png"
          alt="Your Image"
          class="image"
        />
      </div>

      <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label custom-label">First Name</label>
        <div class="col-sm-4 col-4">
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
            [disabled]="!editMode"
          />
          <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="text-danger">
            <div *ngIf="firstName?.errors?.['required']">First Name is required.</div>
            <div *ngIf="firstName?.errors?.['minlength']">First Name must be at least 3 characters long.</div>
            <div *ngIf="firstName?.errors?.['maxlength']">First Name cannot be more than 60 characters long.</div>
            <div *ngIf="firstName?.errors?.['pattern']">First Name must follow specific pattern rules.</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label custom-label">Last Name</label>
        <div class="col-sm-4 col-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
            [disabled]="!editMode"
          />
          <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="text-danger">
            <div *ngIf="lastName?.errors?.['required']">Last Name is required.</div>
            <div *ngIf="lastName?.errors?.['minlength']">Last Name must be at least 3 characters long.</div>
            <div *ngIf="lastName?.errors?.['maxlength']">Last Name cannot be more than 60 characters long.</div>
            <div *ngIf="lastName?.errors?.['pattern']">Last Name must follow specific pattern rules.</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="phoneNumber" class="col-sm-2 col-form-label custom-label">Phone Number</label>
        <div class="col-sm-4 col-6">
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            formControlName="phoneNumber"
            [disabled]="!editMode"
          />
          <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="text-danger">
            <div *ngIf="phoneNumber?.errors?.['required']">Phone Number is required.</div>
            <div *ngIf="phoneNumber?.errors?.['pattern']">Phone Number must be 10 digits long.</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="button" class="btn btn-warning" (click)="toggleEditMode()">
            {{ editMode ? "Cancel" : "Edit" }}
          </button>
          <button type="submit" class="btn btn-primary mx-3" *ngIf="editMode">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
