<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-13" *ngIf="!showPasswordForm">
              <div class="card-body p-md-5 mx-md-4" id="firstForm">
                <div class="text-center">
                  <img
                    src="../../../../assets/img/eventhubLogo/Logo Files/For Web/svg/Color logo with background.svg"
                    alt=""
                    width="200"
                    height="35"
                  />
                  <h3 class="mt-3 mb-5 pb-1">Reset Password</h3>
                </div>
                <form (ngSubmit)="submitEmailForm()" #emailForm="ngForm">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      placeholder="Email address"
                      name="email"
                      required
                      [(ngModel)]="email"
                      #emailInput="ngModel"
                      email
                    />
                    <span
                      *ngIf="emailInput.invalid && emailInput.touched"
                      class="text-danger"
                      >Please enter a valid email address.</span
                    >
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="mx-3 btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="submit"
                      [disabled]="emailForm.invalid"
                    >
                      Submit Email
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-13" *ngIf="showPasswordForm">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="../../../../assets/img/eventhubLogo/Logo Files/For Web/svg/Color logo with background.svg"
                    alt=""
                    width="200"
                    height="35"
                  />
                  <h3 class="mt-3 mb-5 pb-1">Reset Password</h3>
                </div>
                <form (ngSubmit)="submitPasswordForm()" #passwordForm="ngForm">
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input
                      type="text"
                      id="emailToken"
                      class="form-control"
                      placeholder="Email token"
                      name="emailToken"
                      required
                      [(ngModel)]="emailToken"
                      #emailTokenInput="ngModel"
                    />
                    <span
                      *ngIf="emailTokenInput.invalid && emailTokenInput.touched"
                      class="text-danger"
                      >Email token is required.</span
                    >
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input
                      placeholder="New Password"
                      type="password"
                      id="newPassword"
                      name="newPassword"
                      class="form-control"
                      required
                      minlength="6"
                      [(ngModel)]="newPassword"
                      #newPasswordInput="ngModel"
                    />
                    <span
                      *ngIf="
                        newPasswordInput.invalid && newPasswordInput.touched
                      "
                      class="text-danger"
                    >
                      New password is required and must be at least 6 characters
                      long.
                    </span>
                  </div>
                  <div data-mdb-input-init class="form-outline mb-4">
                    <input
                      placeholder="Confirm Password"
                      type="password"
                      id="confirmPassword"
                      name="confirmPassword"
                      class="form-control"
                      required
                      [(ngModel)]="confirmPassword"
                      #confirmPasswordInput="ngModel"
                    />
                    <span
                      *ngIf="
                        confirmPasswordInput.invalid &&
                        confirmPasswordInput.touched
                      "
                      class="text-danger"
                      >Please confirm your new password.</span
                    >
                    <span
                      *ngIf="
                        newPassword !== confirmPassword &&
                        confirmPasswordInput.touched
                      "
                      class="text-danger"
                      >Passwords do not match.</span
                    >
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="mx-3 btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="submit"
                      [disabled]="
                        passwordForm.invalid || newPassword !== confirmPassword
                      "
                    >
                      Reset Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
