<h2 class="text-center">We would love to hear your review</h2>
<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <img
    src="https://t3.ftcdn.net/jpg/01/80/10/66/360_F_180106680_L4qY4KynNfu07VSXzSOyNIUJlrtyyDI9.jpg"
    alt="Image Description"
    class="form-image"
  />
  <label for="Description">Description:</label>
  <textarea id="Description" formControlName="Description" rows="4"></textarea
  ><br />
  <span
  *ngIf="reviewForm.get('Description')?.errors?.['required'] && reviewForm.get('Description')?.touched"
  class="text-danger"
  >Please enter Description.</span
><br />
  <small class="text-danger"
  *ngIf="reviewForm.controls['Description'].errors?.['required'] && reviewForm.controls['firstname'].touched"
  >Description is required.</small
><br />

  <label for="Rating">Rating (1-5):</label>
  <div class="star-rating">
    <input
      type="radio"
      id="star5"
      name="rating"
      formControlName="Rating"
      value="5"
    />
    <label for="star5" title="5 stars">&#9733;</label>
    <input
      type="radio"
      id="star4"
      name="rating"
      formControlName="Rating"
      value="4"
    />
    <label for="star4" title="4 stars">&#9733;</label>
    <input
      type="radio"
      id="star3"
      name="rating"
      formControlName="Rating"
      value="3"
    />
    <label for="star3" title="3 stars">&#9733;</label>
    <input
      type="radio"
      id="star2"
      name="rating"
      formControlName="Rating"
      value="2"
    />
    <label for="star2" title="2 stars">&#9733;</label>
    <input
      type="radio"
      id="star1"
      name="rating"
      formControlName="Rating"
      value="1"
    />
    <label for="star1" title="1 star">&#9733;</label>
  </div>
  <br />

  <small class="text-danger"
  *ngIf="reviewForm.controls['Rating'].errors?.['required']"
  >Rating is required.</small
><br />

  <label for="IsReported">Reported:</label>
  <input type="checkbox" id="IsReported" formControlName="IsReported" /><br />

  <span
  *ngIf="invalid"
  class="text-danger"
  >Please enter Details Before Submitting.</span
><br />

  <button type="submit">Submit Review</button>
</form>
