<div *ngIf="events && events.length > 0" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let event of events; let i = index" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" [class.active]="i === 0"></li>
  </ol>
  <div class="carousel-inner">
    <div class="col-md-4 carousel-item" *ngFor="let event of events; let i = index" [class.active]="i === 0">
      <div class="card mb-4 card-hover  ">
        <div class="row g-0">
           
           <a class="col-lg-8 col-md-12 col-12 bg-cover img-left-rounded" style="background-image: url(https://media.istockphoto.com/id/1308964737/photo/business-professionals-applauding-at-a-seminar.jpg?s=1024x1024&w=is&k=20&c=rYvGtD2ObnDHrlwj-D4xa-UDppemHJWjXkbrHiU1IrI=);">
           <img src="https://media.istockphoto.com/id/1308964737/photo/business-professionals-applauding-at-a-seminar.jpg?s=1024x1024&w=is&k=20&c=rYvGtD2ObnDHrlwj-D4xa-UDppemHJWjXkbrHiU1IrI=" class="img-fluid d-lg-none invisible" alt=""></a>
           <div class="col-lg-4 col-md-12 col-12">
              
              <div class="card-body">
                 <a class="badge bg-warning mb-3">{{ event.eventCategory }}</a>
                 <h1 class="mb-4"> 
                  {{ event.eventName }}
                 </h1>
                 <h5>{{ event.description }}
                 </h5>
                 <div class="row align-items-center g-0 mt-7">
                    <div class="col lh-1 ">
                       <h5 class="mb-1">Chief Guest: {{ event.chiefGuest }}</h5>
                       <h5 class="fs-6 mb-0">Event Date: {{ event.eventDate }}</h5>
                    </div>

                 </div>
              </div>
           </div>
          </div>
        </div>
      <!-- <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ event.eventName }}</h5>
          <p class="card-text">Category: {{ event.eventCategory }}</p>
          <p class="card-text">Description: {{ event.description }}</p>
          <p class="card-text">Chief Guest: {{ event.chiefGuest }}</p>
          <p class="card-text">Date: {{ event.eventDate }}</p>
          <p class="card-text">Time: {{ event.event_Time }}</p>
          <p class="card-text">Location: {{ event.eventLocation }}</p>
          <p class="card-text">Ticket Price: {{ event.ticketPrice }}</p> 
          <p class="card-text">Capacity: {{ event.capacity }}</p>
          <p class="card-text">Organiser: {{ event.organizerFirstName}} {{event.organizerLastName}}</p>
        </div>
      </div> -->
    </div>
  </div>
  <a class="carousel-control-prev"  role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div *ngIf="!events || events.length === 0">
  No events found.
</div>
