.card {
    border: 1px solid #9cc5ee; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    /* background-color: rgb(236, 147, 29); */
      /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  /* .card-img-top {
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
  }
  
  .card-title {
    font-size: 1.25rem; 
    margin-bottom: 0.75rem; 
  }
  
  .card-text {
    margin-bottom: 0.5rem; 
  }
  
  .card-body {
    padding: 20px; 
  }
  
  .card:hover {
    transform: translateY(-3px); 
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1); 
  }
   */