<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div
  *ngIf="bookedEvents && bookedEvents.length > 0"
  class="booked-events-container"
>
  <h2 class="text-center">Booked Events</h2>
  <div class="row">
    <div *ngFor="let event of bookedEvents" class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ event.eventName }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Event Date: </strong>
              <span>{{ event.eventDate | date : "dd-MM-yyyy" }}</span>
            </li>
            <li class="list-group-item">
              <strong>Event Location: </strong>
              <span>{{ event.eventLocation }}</span>
            </li>
            <li class="list-group-item">
              <strong>Event Time: </strong> <span>{{ event.eventTime }}</span>
            </li>
            <li class="list-group-item">
              <strong>Ticket Price: </strong>
              <span>₹ {{ event.ticketPrice }}</span>
            </li>

            <div *ngIf="!disabled" class="btn-container">
              <button
                [routerLink]="['review']"
                (click)="addReview(event.eventId)"
                class="btn-primary mx-2"
              >
                <h5 class="fs-6 mb-0">Add Review</h5>
              </button>
              <button
                *ngIf = "!isEventDateInPast(event.eventDate)"
                (click)="cancelBooking(event.bookingId)"
                class="btn-primary mx-2"
              >
                <h5 class="fs-6 mb-0 ">Cancel Booking</h5>
              </button>


              <button (click)="viewTicket(event.bookingId, event.eventId)" class="btn-secondary downloadticket">
                <img class="img-size"
                  src="https://cdn.iconscout.com/icon/premium/png-512-thumb/download-2693143-2234826.png?f=webp&w=256"
                  alt="View Ticket"
                />
              </button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!bookedEvents || bookedEvents.length === 0">
  <p>No events booked.</p>
</div>



