.h2 {
  text-align: center;
}
.card-body {
  padding: 20px;
}

.card-body ul {
  padding: 0;
}

.card-body ul li {
  margin-bottom: 10px;
  color: #333;
}
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 0 20px rgba(255, 165, 0, 0.6);
  outline: 2px solid transparent;
  transform: scale(1.1);
}

.card:hover .glow-border {
  outline: 2px solid rgba(255, 165, 0, 0.6);
}

.glow-border {
  border: 2px solid transparent;
  border-radius: 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.btn-primary {
  background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-secondary {
  background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}
.btn-primary,
.btn-secondary {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary,
.btn-secondary {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
  color: #fff;
}

.btn-secondary {
  background: #fff;
  width: 10%;
  height: 3px;

  padding: 5px 1px;
  font-size: 1px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.list-group {
  margin-top: 20px;
}

.list-group-item {
  padding: 10px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-group-item strong {
  color: #333;
}

.list-group-item span {
  color: #666;
}

@media (max-width: 600px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-secondary {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    margin-left: 4px;
  }

  .mb-3 {
    margin-top: 40px;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .btn-container {
    flex-direction: column;
  }

  .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-secondary {
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .btn-secondary {
    height: 90px;
    width: 90px;
  }

  .mx-2 {
    height: 50px;
  }
}

@media (min-width: 992px) {
  .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .btn-secondary {
    height: 90px;
    width: 90px;
    margin-top: -20px;
  }
  .mx-2 {
    height: 50px;
  }
}
