body {
  background-color: #f8f9fa;
  padding-top: 50px;
  position: fixed;
}
.main {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  float: right;
}

.content {
  margin-left: 250px;
  padding: 20px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;
}
