<div class="main">
    <div class="container">
        <form>
            <h1>Create Event</h1>
                <div class="form-group">
                    <label for="eventname">Event Name</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Event Category</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Description</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Chief Guest</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Event Date</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Event Time</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Event Location</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Ticket Price</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <div class="form-group">
                    <label for="eventname">Capacity</label>
                    <input type="text" class="form-control" id="eventname" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>