<aside *ngIf="role === 'Organizer'; else otherContent">
  <!-- <p> Menu </p> -->
  <a (click)="onTabClick('organizer-stat')">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    Dashboard
  </a>
  <a (click)="onTabClick('new-event')">
    <i  class="fa fa-user-o" aria-hidden="true"></i>
    Create Event
  </a>
  <a (click)="onTabClick('myevents')">
    <i class="fa fa-laptop" aria-hidden="true"></i>
    My Events
    <!-- My bookings for user -->
  </a>
  <a (click)="onTabClick('user-profile')">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Profile
  </a>
  <a >
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    Track Event Tickets
  </a>
</aside>
<ng-template #otherContent>
  <aside>
    <!-- <p> Menu </p> -->
    <a routerLink="/new-event">
      <i  class="fa fa-user-o" aria-hidden="true"></i>
      My Booked Events
    </a>
    <a (click)="onTabClick('mybookings')">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      My Bookings
      <!-- My bookings for user -->
    </a>
    <a (click)="onTabClick('event-bookings')">
      <i class="fa fa-laptop" aria-hidden="true"></i>
      Book Event
    </a>
    <a (click)="onTabClick('user-profile')">
      <i class="fa fa-clone" aria-hidden="true"></i>
      User func - Profile
    </a>
    <a >
      <i class="fa fa-star-o" aria-hidden="true"></i>
      USer func 2
    </a>
    <a >
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      Track Event Tickets
    </a>
  </aside>
</ng-template>