<!-- <div class="sidebar">
    <ul>
      <button><li (click)="onTabClick('user-profile')">Profile</li></button>
    <button><li (click)="onTabClick('Home')">Home</li></button>
    </ul>
  </div> -->

  <!-- <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item" (click)="onTabClick('user-profile')">Profile
      </li>
      <li class="nav-item" (click)="onTabClick('mybookings')">My Bookings
      </li>
    </ul>
  </div> -->
  
  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item" (click)="onTabClick('user-profile')">Profile</li>
      <li class="nav-item" (click)="onTabClick('mybookings')">My Bookings</li>
    </ul>
  </div>
  