<div class="container">
  <div class="mb-3">
      <button class="btn btn-primary mx-2" (click)="fetchPersons('Organizer')">Show Organizers</button>
      <button class="btn btn-primary" (click)="fetchPersons('User')">Show Users</button>
  </div>
  <h2>All {{ listTitle }}</h2>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>{{ listTitle }} ID</th>
        <th>{{ listTitle }} Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr role="button" *ngFor="let person of organizers" (click)="redirectToViewEvent(person.id, listTitle)">
          <td>{{ person.id }}</td>
          <td>{{ person.firstName }} {{ person.lastName }}</td>
          <td>{{ person.email }}</td>
          <td>{{ person.phoneNumber }}</td>
          <td> 
            <button class="btn btn-danger" *ngIf="!person.isBlocked" (click)="blockUser(person.id)">Block</button>
            <button class="btn btn-success" *ngIf="person.isBlocked" (click)="unBlockUser(person.id)">Unblock</button>
          </td>
        </tr>
    </tbody>
  </table>
</div>
