<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="new">
<div class="about">
    <div class="inner-section">
        <h1>About Us</h1>
        <p class="text">
            Eventhub is your premier partner for creating unforgettable experiences. With a blend of creativity, precision, and personalized service, we specialize in crafting seamless events tailored to your vision. From corporate galas to intimate celebrations, trust us to turn your ideas into extraordinary realities.
        </p>
        <div class="skills">
            <button  routerLink="/contact-us">Contact us</button>
        </div>
    </div>
    </div>

     
    <div class="container">

        <div class="slide">

            
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1549605751-158aa5912530?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Music</div>
                    <div class="des">Chill!!! Relax !!! Enjoy !!!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Coding</div>
                    <div class="des">Enhance your coding skills by taking part in fantastic coding contests</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1523302750488-e28820e5ee90?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Art and Literatre</div>
                    <div class="des">Aesthetic arts and alot more, just here !!</div>
                
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1474308371634-c715850e8d8b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Dance</div>
                    <div class="des">Showcase your thrilling moves and rock the floor</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1533923156502-be31530547c4?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Sports</div>
                    <div class="des">Let your energy and passion makes the noise !!!</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(https://images.unsplash.com/photo-1528605105345-5344ea20e269?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                <div class="content">
                    <div class="name">Open mic</div>
                    <div class="des">Let your beautiful thoughts reach our heart</div>
                    
                </div>
            </div>

        </div>

        <div class="btns">
            <button class="prev" (click)="showPrev()"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next" (click)="showNext()"><i class="fa-solid fa-arrow-right"></i></button>
        </div>

    </div>
    </div>