<div class="cards-container" *ngIf="events && events.length > 0">
  <div *ngFor="let event of events; let i = index" [class.active]="i === 0" class="wrapper">
    <div class="card front-face">
      <img src="{{ event.bannerImage }}" alt="Banner Image">
    </div>
    <div class="card back-face">
      <img src="{{ event.bannerImage }}" alt="Banner Image">
      <div class="info">
        <div class="title">{{ event.eventName }}</div>
        <p>
          Chief Guest: {{ event.chiefGuest }} <br />
          Event Date: {{ event.eventDate | date: 'dd-MM-yyyy' }} <br/>
          Time : {{event.eventTime}} <br/>
          {{event.eventLocation}} <br/>
        </p>
          <button class="btn gradient" (click)="bookEvent(event.eventId, event.eventOrganizerId, event.ticketPrice)">
            <h5 class="fs-6 mb-0">Book Now</h5>
          </button>
      </div>
    </div>
  </div>
  </div>
<div *ngIf="!events || events.length === 0">No events found.</div>

