.event-status {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  .card{
    border: 1px black;
  }
  .card-body{
    padding: 0;
  }
  .description{
    padding-top: 20px;
    border-radius: 5px;
    background-color: rgb(26, 168, 168);
    color: white;
    /* padding-bottom: 20px; */
  }
  .values{
    /* padding : 30px 10px 20px 10px; */
    border-radius: 5px;
    background-color: azure;
    padding-top: 20px;
  }
  .card-desc{
    color: white;
  }
  
  .done {
    color: green;
  }
  
  .upcoming {
    color: #ea8685;
  }