<div class="container">
  <h1>Event Details</h1>
  <div *ngIf="eventDetails">

    <div class="card">
      <div class="card-body">
        <div class="row">
          <h5 class="card-title">
            {{ eventDetails.eventName }}
            <span
              class="event-status"
              [class.done]="isEventDone()"
              [class.upcoming]="!isEventDone()"
              >{{ isEventDone() ? "Done" : "Upcoming" }}</span
            >
          </h5>
          <img class="card-img-top image" src="{{ eventDetails.bannerImage }}" alt="Banner Image">
          <button
            *ngIf="isEventDone()"
            class="btn btn-success"
            (click)="navigateToReview(eventDetails.eventId)"
          >
            See Reviews
          </button>
          <br />
          <div class="col-lg-3 col-sm-4 col-5 description">
            <p class="card-desc">Category:</p>
            <p class="card-desc">Description:</p>
            <p class="card-desc">Chief Guest:</p>
            <p class="card-desc">Date:</p>
            <p class="card-desc">Time:</p>
            <p class="card-desc">Location:</p>
            <p class="card-desc">Ticket Price:</p>
            <p class="card-desc">Seats Left:</p>
            <p class="card-desc">Total Revenue:</p>   
                   
        </div>

        <div class="col-lg-9 col-sm-6 col-7 values" >
            <p class="card-text">{{ eventDetails.eventCategory }}</p>
            <p class="card-text">{{ truncateDescription(eventDetails.description,30) }}</p>
            <p class="card-text">{{ eventDetails.chiefGuest }}</p>
            <p class="card-text">
              {{ eventDetails.eventDate | date : "dd-MM-yyyy" }}
            </p>
            <p class="card-text">{{ eventDetails.eventTime }}</p>
            <p class="card-text">{{ eventDetails.eventLocation }}</p>
            <p class="card-text">₹{{ eventDetails.ticketPrice }}</p>
            <p class="card-text">{{ eventDetails.capacity }}</p>
            <p class="card-text">₹{{ calculateTotalRevenue() }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showForm">
      <form (submit)="sendEmail()">
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="hideEmailForm()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="form-group">
          <label for="subject">Subject:</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            [(ngModel)]="emailSubject"
            name="subject"
          />
        </div>
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea
            class="form-control"
            id="message"
            rows="5"
            [(ngModel)]="emailMessage"
            name="message"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
    <br />
    <h2>Booked Users</h2>
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th class="scope">User ID</th>
          <th class="scope">Name</th>
          <th class="scope">Email</th>
          <th class="scope">Phone Number</th>
          <th class="scope">No. of Tickets</th>
          <th class="scope">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of displayedUsers">
          <tr *ngIf="user" scope="row">
            <td>{{ user.userId }}</td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.numberOfTickets }}</td>
            <td>₹{{ user.totalPrice }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <button
      class="btn btn-warning"
      style="margin-bottom: 20px"
      (click)="loadMoreUsers()"
      [disabled]="allUsersLoaded"
    >
      Load More Users
    </button>
  </div>
</div>





