<!-- app-editevent.component.html -->
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Edit Event</h2>
      </div>
    </div>
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="eventName">Event Name</label>
        <input type="text" class="form-control" id="eventName" formControlName="eventName">
      </div>
      <div class="form-group">
        <label for="eventDate">Event Date</label>
        <input type="datetime" class="form-control" id="eventDate" formControlName="eventDate">
      </div>
      <div class="form-group">
        <label for="eventLocation">Event Location</label>
        <input type="text" class="form-control" id="eventLocation" formControlName="eventLocation">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="eventCategory">Event Category</label>
        <input type="text" class="form-control" id="eventCategory" formControlName="eventCategory">
      </div>
      <div class="form-group">
        <label for="eventTime">Event Time</label>
        <input type="time" class="form-control" id="eventTime" formControlName="event_Time">
      </div>
      <div class="form-group">
        <label for="chiefGuest">Chief Guest</label>
        <input type="text" class="form-control" id="chiefGuest" formControlName="chiefGuest">
      </div>
      <div class="form-group">
        <label for="ticketPrice">Ticket Price</label>
        <input type="number" class="form-control" id="ticketPrice" formControlName="ticketPrice">
      </div>
      <div class="form-group">
        <label for="capacity">Capacity</label>
        <input type="number" class="form-control" id="capacity" formControlName="capacity">
      </div>
      <div class="form-group">
        <label for="bannerImage">Banner Image</label>
        <input type="text" class="form-control-file" id="bannerImage" formControlName="bannerImage">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
    </form>
  </div>
  