<nav class="navbar navbar-expand-lg navbar-white myNav">
    <div class="container">
        <p style="font-family: cursive; color: azure; font-size: larger;">EventHub</p>
        <!-- <a class="navbar-brand" routerLink="/index.html">
            <img src="../assets/Images/EventHub1.PNG" alt="eventpic" class="d-inline-block align-text-top" width="100px" height="40px"/>
        </a> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div class="ml-50">
                <form (ngSubmit)="search()" class="form-inline my-2 my-lg-0">
                  <input type="text" placeholder="Search.." name="search">
                  <span><i class="fa fa-search"></i></span>
                </form>
              </div>
            <form class="d-flex"> 
                <a routerLink="/login"><button class="btn btn-success round-button btn-style me-3" type="button">Login</button></a>
                <a routerLink="/register"><button class="btn btn-success round-button btn-style" type="button">Register</button></a>
            </form>
        </div>
    </div>
  </nav>