<nav class="navbar navbar-expand-lg navbar-white myNav">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../assets/Images/EventHub1.PNG" alt="eventpic" class="d-inline-block align-text-top" width="100px" height="40px"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex"> 
                <button class="btn btn-outline-primary round-button mx-2 btn-style" type="button"><a href="login">Login</a></button>
                <button class="btn btn-success round-button btn-style" type="button"><a href="register">Register</a></button>
            </form>
        </div>
    </div>
  </nav>