aside {
  color: #fff;
  width: 250px;
  padding-top: 12px;
  height: 100vh;
  margin-bottom: 20px;
  left: 0 !important;
  background-image: linear-gradient(30deg, #ee7724, #dd3675);
  border-top-right-radius: 80px;
}

@media screen and (max-width: 768px) {
  aside {
    width: auto;
    height: auto;
    text-align: center;
    border-top-right-radius: 0px;
    border-radius: 5px;
  }
}

aside a {
  font-size: 15px;
  color: #fff;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding: 12px 12px 12px 0px;
  padding-left: 0px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

aside a:hover {
  cursor: pointer;
  color: #dd3675;
  background: #fff;
  outline: none;
  position: relative;
  background-color: #fff;
}

aside a i {
  margin-right: 3px;
  padding-left: 16px;
  padding-right: 16px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
}

body {
  font-family: "Roboto";
  width: 100%;
  height: 100vh;
  margin: 0;
}

.social {
  height: 0;
}

.social i:before {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #fff;
  background: #dd3675;
  padding: 10px;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}

.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  padding: 2px 10px;
  /* position: fixed; */
  margin-left: 10px;
  /* top: 10px; */
  border-radius: 5px;
}
.closebtn {
  right: 8px;
  top: 8px;
  position: absolute;
  font-size: 22px !important;
}
.toggle-button {
  margin-bottom: 20px;
}
