<div class="event-container">
  <div class="banner">
    <img src="{{ eventDetails.bannerImage }}" alt="Event Banner">
  </div>
  <div class="event-details">
    <h1>{{ eventDetails.eventName }}</h1>
    <p class="category">{{ eventDetails.eventCategory }}</p>
    <p class="description">{{ eventDetails.description }}</p>
    <p class="chief-guest"><strong>Chief Guest:</strong> {{ eventDetails.chiefGuest }}</p>
    <p class="date-time"><strong>Date:</strong> {{ eventDetails.eventDate | date: 'dd-MM-yyyy' }}</p>
    <p class="date-time"><strong>Time:</strong> {{ eventDetails.event_Time }}</p>
    <p class="location"><strong>Location:</strong> {{ eventDetails.eventLocation }}</p>
    <p class="price"><strong>Price:</strong> ₹{{ eventDetails.ticketPrice }}</p>
    <p class="seats-left"><strong>Seats Left:</strong> {{ eventDetails.capacity }}</p>
    <button class="book-now" (click)="
    bookEvent(
      eventDetails.eventId,
      eventDetails.eventOrganizerId,
      eventDetails.ticketPrice
    )
  ">Book Now</button>
  </div>
</div>