.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transform transition */
    margin-bottom: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add margin between cards */
  }
  
  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(255, 165, 0, 0.6); /* Glowing effect */
    outline: 2px solid transparent; 
    transform:scale(1.1)/* Add border to the hover state */
  }
  
  .card:hover .glow-border {
    outline: 2px solid rgba(255, 165, 0, 0.6); /* Adjust glow color */
  }
  
  .glow-border {
    border: 2px solid transparent; /* Add transparent border */
    border-radius: 10px;
  }
  
  
  
  /* Typography */
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333; /* Add color for better readability */
  }
  
  .card-text {
    color: #666; /* Adjust text color */
  }
  
  /* Button Styling */
  .btn-primary {
    background-color: #ee7724;
    border-color: #ee7724;
    color: #fff;
    padding: 8px 16px; /* Add padding to buttons */
    border-radius: 5px; /* Add border radius to buttons */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #d8363a;
    border-color: #d8363a;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .card {
      width: calc(50% - 20px); /* Adjust card width for smaller screens */
      margin: 0 10px 20px; /* Adjust margin for smaller screens */
    }
  }
  
  @media screen and (max-width: 576px) {
    .card {
      width: calc(100% - 20px); /* Adjust card width for even smaller screens */
      margin: 0 10px 20px; /* Adjust margin for smaller screens */
    }
  }
  .container{
    background: #fff;
    width: 100%;
  }
  .new{
    height:auto
  }