<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-text">
          <div class="ft-logo">
            <img
              src="../../../assets/img/eventhubLogo/Logo Files/For Web/svg/White logo - no background.svg"
              alt=""
              width="150"
              height="35"
            />
          </div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a>Schedule</a></li>
            <li><a>Blog</a></li>
            <li><a routerLink="/contactus">Contact</a></li>
          </ul>
          <div class="copyright-text">
            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
