<div class="container">
  <h5>Search</h5>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search by organizer name, event name, or event category"
      [formControl]="searchControl"
    />
  </div>
  <h2>All Events</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th class="tHead">Status</th>
          <th class="tHead">Organizer Name</th>
          <th class="tHead">EventName</th>
          <th class="tHead">Date</th>
          <th class="tHead">Time</th>
          <th class="tHead">Seats Left</th>
          <th class="tHead">Ticket Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredEvents.length === 0">
          <td colspan="7" class="text-center">No Result Found</td>
        </tr>
        <ng-container *ngFor="let event of filteredEvents">
          <tr role="button" *ngIf="event" (click)="onSelectEvent(event.eventId)">
            <td>
              <span [ngClass]="isEventDone(event.eventDate) ? 'badge-success' : 'badge-warning'">
                {{ isEventDone(event.eventDate) ? 'Done' : 'Upcoming' }}
              </span>
            </td>
            <td>{{ event.organizerFirstName }} {{ event.organizerLastName }}</td>
            <td>{{ event.eventName }} | {{ event.eventCategory }}</td>
            <td>{{ event.eventDate | date: 'dd-MM-yyyy' }}</td>
            <td>{{ event.eventTime }}</td>
            <td>{{ event.capacity }}</td>
            <td>₹{{ event.ticketPrice }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
